@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,700;1,700&display=swap");
.container {
  padding: 0px 135px;
}
.header {
  display: flex;
  color: #ffffff;
  background-color: #07203f;
  font-family: Inter;
  font-weight: 400;
  font-size: 36px;
  padding: 55px 0px 55px 0px;
  justify-content: center;
}
.header__content {
  display: flex;
  gap: 222px;
}
.logo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 40px;

  color: #ffffff;
}

.nav__item {
  border-bottom: 2px solid #ffffff;
}
